<div class="card border border-light p-5 bg-white">
  <div class="p-2">
    <h3 class="brand-name text-xl-left">Projects</h3>
    <h6 class="text-warning">Use projects to separate weekly statuses by category</h6>
    <p>Projects are a great way to organize weekly status reports into groups 
      with similar attributes or characteristics. You can set them up so that 
      project names clearly indicate the type of content they hold</p>
  </div>
  



<form action="" method="POST" class="p-2">
      <div class="form-row">
      <div class="form-group col-md-2">
        <input type="text" name="projectName" id="project-name" class="form-control mb-4" placeholder="Project Name">
      </div>
      <div class="form-group col-md-2">
        <input class="btn btn-sm btn-warning" type="submit" value="Add Project" id="addProjectBtn">
      </div>
    </div>
     
</form>



  </form>
  <div class="row p-2">
    {{#each projects}}
      
        <div class="col-sm-3 p-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title "><a href='/projects/{{this._id}}' class="card-link text-warning">{{this.projectName}}</a></h5>
                <hr>
                <a href="#" class="card-link text-secondary" data-id="{{this._id}}" data-toggle="modal" id="editProjectBtn" data-target="#editProject">Edit Project</a>
                <a href="#" class="card-link delete-btn" data-id="{{this._id}}" id="delete-project">Delete Project</a>
            </div>
          </div>
        </div>
    {{/each}} 
  </div>
 
</div>


<!-- Modal -->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
         Project Name: <input type="text" name="projectName" id="project-name">
                        <input type="hidden" name="id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveProjectChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>



 <script src="/javascripts/project.js"></script>
