<h2>Test Artifacts</h2>

<form action="/testartifacts/create" method="GET">
<input type="submit" name="addTest" value="Create New Test Artifact" >
</form>

{{#each tests}}

<ul>
  <li><a href="/testartifacts/artifact/{{this._id}}">{{this.ticketNumber}}</a></li>
</ul>

{{/each}}